<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>360</title>
    <link rel="shortcut icon" href="favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/shared.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <header class="main-header">
      <div>
        <a href="/" class="main-header__brand"> 360 </a>
      </div>
      <nav class="main-nav">
        <ul class="main-nav__items">
          <li class="main-nav__item">
            <a href="/">Strona Główna</a>
          </li>

          <li class="main-nav__item main-nav__item--cta">
            <a href="/sfera">Zrób to !</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="product-overview">
        <h1>Dotknij swojego zdjecia.</h1>
      </section>
      <section id="plans">
        <h1 class="section-title">Wydruk zdjęć sferycznych</h1>

        <!-- Include the PayPal JavaScript SDK; replace "test" with your own sandbox Business account app client ID -->
        <script src="https://www.paypal.com/sdk/js?client-id=ASJv0eLnnfcq7X9OsAnR8CTYqE4Yz5rYy5W3OCxHiuDjm-mk25ZH90YesHU4VeI4ppSYBGHZHuq96Gau&currency=PLN"></script>

        <!-- Set up a container element for the button -->
        <div id="paypal-button-container"></div>

        <div class="text-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
          quidem adipisci maxime nobis itaque voluptatem molestiae vitae
          aspernatur asperiores at odio similique id natus, dolore neque, nihil
          quis fuga perferendis. Tenetur culpa nam iusto error voluptate minima
          excepturi adipisci officiis praesentium vitae pariatur quisquam
          consequatur ullam optio sequi, sunt beatae temporibus. Quidem
          voluptatem exercitationem atque, rerum expedita delectus corrupti
          tempora. Temporibus, consectetur! At, provident temporibus accusamus
          tempore non perferendis maiores fugit assumenda aliquid adipisci
          fugiat esse eligendi quasi dolore, dolorum veniam commodi earum
          laudantium, veritatis deserunt expedita eius reiciendis minima.
          Blanditiis temporibus aperiam libero perspiciatis fugiat id, commodi
          iste tenetur sed soluta consequatur, excepturi nulla veritatis
          exercitationem minus voluptatum ad animi? Voluptas dignissimos, quia
          est sapiente perspiciatis error. Molestiae, placeat. Inventore sint
          molestias at dolore dolores doloremque voluptate nam officia repellat
          illum explicabo non laudantium repudiandae quos nemo maiores
          consectetur, optio, laborum eaque exercitationem temporibus. Saepe
          delectus officia in minima? Omnis quos recusandae debitis quasi iusto
          corporis eaque quo earum voluptatem dolorum accusantium quam nesciunt
          enim, labore est quae modi ullam aspernatur dicta! Asperiores atque
          laudantium eveniet ut commodi eaque? A, temporibus inventore.
          Repellendus ut alias, eum necessitatibus explicabo ipsa sint totam?
          Consequuntur distinctio a dolor! Laboriosam autem veritatis, quaerat
          perferendis consequuntur esse? Omnis ratione porro enim sed. Iure,
          nobis? Soluta vel optio, officia amet exercitationem repellat ipsa
          nulla, hic voluptate ullam dolorem! Esse, earum quae ut commodi
          debitis accusamus aut? Blanditiis illum, commodi vero esse eaque nemo
          atque distinctio! Earum repudiandae similique esse, porro ullam culpa
          mollitia aliquam illo ipsum consectetur ad eaque aut. A libero
          perspiciatis nam, ipsam vel amet, illo quod debitis mollitia
          reprehenderit maxime obcaecati doloremque. Ipsa incidunt aliquam sit
          molestiae saepe facilis officia inventore eveniet est ratione
          molestias nostrum commodi, voluptatem libero reprehenderit sint
          nesciunt quod architecto maxime dolorum tempora eum. Modi vel impedit
          aliquid.
        </div>

        <h1 class="section-title">Jak to działa?</h1>

        <div class="text-1_noborder">
          <h1>Wprowadź swoje zdjęcie sferyczne</h1>
          Po wprowadzeniu nasz skrypt mapuje dane zdjęcie na dwunastościan
          foremny w trójwymiarze.
        </div>
        <div class="spline"><canvas id="canvas3d"></canvas></div>

        <div class="text-1_noborder">
          <h1>Siatka</h1>
          Z danego dwunastościanu tworzymy siatkę 2d która możemy prosto
          wydrukować ( po kliknięciu "a" na klawiaturze możemy zobaczyć
          tworzenie się takowej siatki, a po kliknięciu "d" wracamy do figury 3d
          )
        </div>

        <div class="spline"><canvas id="canvas3dd"></canvas></div>
        <script>
          paypal
            .Buttons({
              // Sets up the transaction when a payment button is clicked
              createOrder: function (data, actions) {
                return fetch("/api/orders", {
                  method: "post",
                })
                  .then((response) => response.json())
                  .then((response) => {
                    console.log(response);
                    return response.id;
                  });
              },

              // Finalize the transaction after payer approval
              onApprove: function (data, actions) {
                return fetch(`/api/orders/${data.orderID}/capture`, {
                  method: "post",
                })
                  .then((response) => response.json())
                  .then(function (orderData) {
                    // Successful capture! For dev/demo purposes:
                    console.log(
                      "Capture result",
                      orderData,
                      JSON.stringify(orderData, null, 2)
                    );
                    var transaction =
                      orderData.purchase_units[0].payments.captures[0];
                    alert(
                      "Transaction " +
                        transaction.status +
                        ": " +
                        transaction.id +
                        "\n\nSee console for all available details"
                    );

                    // When ready to go live, remove the alert and show a success message within this page. For example:
                    // var element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                  });
              },
            })
            .render("#paypal-button-container");
        </script>
        <script type="module">
          import { Application } from "/js/runtime.js";
          const canvas = document.getElementById("canvas3d");
          const app = new Application(canvas);
          app.load("/spline_scene/scene.splinecode");
        </script>

        <script type="module">
          import { Application } from "/js/runtime.js";
          const canvass = document.getElementById("canvas3dd");
          const appp = new Application(canvass);
          appp.load("/spline_scene/scene1.splinecode");
        </script>
      </section>
    </main>
  </body>
</html>
